Source: openvstorage-health-check
Maintainer: Jonas Libbrecht <jonas.libbrecht@openvstorage.com>
Standards-Version: 3.9.4
Section: python
Priority: optional
Build-Depends: python-all (>= 2.7.2), debhelper (>= 9)

Package: pyrakoon
Section: python
Architecture: amd64
Pre-Depends: python (>= 2.7.2), python (<3.0)
Description: An alternative Python client for Arakoon
 Socket client to talk to Arakoon clusters
